.state_item ,.state_content {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0rem 0 1.5rem 0;
}

.state_item {
    row-gap: 1.5rem;
}

.item {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    border: 1px solid rgb(126, 126, 126);
    border-radius: 10px;
}

.item:hover {
    border: 1px solid #ff8716;
}

.item h4 {
    color: black;
    margin-bottom: 5px;
}
.item h1 {
    margin-bottom: 0;
    color: #ff8716;
}