*, *::before, ::after{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root{
  
  --primary-hue: 180;
  --gray-hue: 150;
  --color-primary: hsl(var(--primary-hue), 80%, 40%);
  --color-primary-variant: hsl(var(--primary-hue), 100%, 65%);
  --color-secondary: #03105c;
  --color-orange: #03105c;

  --color-gray-100: hsl(var(--gray-hue), 47%, 94%);
  --color-gray-200: hsl(var(--gray-hue), 26%, 75%);
  --color-gray-300: hsl(var(--gray-hue), 24%, 64%);
  --color-gray-400: hsl(var(--gray-hue), 16%, 41%);
  --color-gray-500: hsl(var(--gray-hue), 44%, 25%);
  --color-gray-600: hsl(var(--gray-hue), 48%, 15%);

  --container-width-lg: 80%;
  --container-width-md: 90%;

  --transition: all 500ms ease;
}

body{
  font-family: 'Poppins', sans-serif;
  background: var(--color-gray-100);
  /* color: var(--color-gray-500); */
  line-height: 1.7;
  overflow-x: hidden;
}

html{
  scroll-behavior: smooth; 
}

.container{
  width: var(--container-width-lg);
  margin-inline: auto;
  max-width: 1920px;
}
h1, h2, h3, h4, h5{
  line-height: 1.2;
  color: var(--color-secondary);
}
h1{
  font-size: 2.6rem;
}
h2{
  font-size: 2rem;
}
a{
  color: var(--color-gray-100);
  transition: var(--transition);
}
.nav-li {
  font-size: 1rem;
  cursor: pointer;
}
.payment_a{
  color: #419aee;
}
a:hover{
  color: #ff8716;
}

img{
  display: block;
  width: 100%;
  object-fit: cover;
}

.abt-image-first {
  width: 100%;
}

section{
  margin-top: 7rem;
}

.section__head h3{
  color: var(--color-orange);
}
/* .section__head{
  display: flex;
  align-items: center;
  gap: 1rem;
} */
.section__head span{
  padding: 0.8rem;
  border-radius: 1rem;
  color: var(--color-secondary);
  font-size: 2rem;
}
.text-box-custom {
  padding: 2rem 1.5rem 1rem 1.5rem;
  border: 5px solid #ff8716;
  color: #ff8716;
  border-radius: 10px;
  background-color: var(--color-orange);
  margin-bottom: 2.5rem;  
}
.img-custom {
  border-radius: 10px;
  margin: 2rem 0;
}
.img-custom-border {
  max-width: 300px;
  border-radius: 20px;
  margin: 2rem 0 0.3rem 0;
}

.h1-custom-color{
  margin: 0 0 1rem 0;
  color: #ff8716;
}

.card2{
  background: transparent;
  border: 2px solid var(--color-orange);
  text-align: center;
  padding: 2rem 1rem;
  border-radius: 0 2.5rem 0 2.5rem;
  transition: var(--transition);
}
.card2:hover{
  border-color: #ff8716;
  cursor: default;
  background: transparent;
}

.card2:hover h4{
  /* color: var(--color-gray-500); */
}

.card2 span{
  width: 3rem;
  height: 3rem;
  background: var(--color-secondary);
  color: var(--color-gray-100);
  font-size: 1.5rem;
  padding: 0.8rem;
  display: grid;
  place-items: center;
  margin-bottom: 1.5rem;
  margin-inline: auto;
  border-radius: 1rem;
  transition: var(--transition);
}
.card2:hover span{
  background: var(--color-orange);
  /* color: var(--color-gray-600); */
}


.header__container{
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  place-items: center;
  background-color: black;
}
.header__container-bg{
  position: relative;
  width: 100%;
  height: 100vh;
}
.header__container-bg img{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  opacity: 0.7;
}
.header__content h4{
  color: var(--color-gray-200);
  margin-top: 5rem;
  margin-bottom: 1rem;
  border: 2px solid #ff8716;
  text-align: center;
  padding: 2rem 1rem;
  border-radius: 0 3rem 0 3rem;
  transition: var(--transition);

  /* text-transform: uppercase; */
}

.card:hover {
  color: #245c40;
  color: var(--color-gray-500);
  cursor: default;
}
.__tl {
  color: #ff8716;
  line-height: 1.2;
}
.sponsors-img {
  margin-bottom: 2rem;
  display: grid;
  justify-content: center;
}
.header__content h1{
  color: #ff8716;
}

.header__content h4:hover{
  border-color: var(--color-primary);
  cursor: default;
  background: transparent;
}
.header__content p{
  color: var(--color-gray-100);
  font-size: 1.4rem;
  margin-top: 2rem;
}

.header__content{
  position: absolute;
  width: 55%;
  margin: 0 auto;
  text-align: center;
  transform: scale(0.90);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes  scale {
  100%{
      transform: scale(1);
  }
}

/* SAMPLE */
.sample {
  margin: 4rem 0;
  padding-left: 0;
  padding-right: 0;
}
.sample-cta {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FORM */
.p-form {
  margin: 6rem 0;
}
.form-head {
  margin: 0 2rem;
}
.form-head h1, .form-head h4 {
  margin-bottom: 1rem;
}
.sl {
  border: 2px solid var(--color-secondary);
  padding: 20px 20px;
  border-radius: 10px;
}
.btnStart {
  border-radius: 7px;
}

/* ======MEDIA QUERIES (MEDIUM DEVICES) ======= */
@media screen and (max-width: 1024px) {
  .container{
      width: var(--container-width-md);
  }
  h1{
      font-size: 2rem;
  }
  h2{
      font-size: 1.6rem;
  }
  .header__content{
      width: 76%;
  }
}


/* ======MEDIA QUERIES (SMALL DEVICES) ======= */
@media screen and (max-width: 600px) {
 h1{
      font-size: 2.2rem;
      line-height: 1.3;
 }
 section{
      margin-top: 3rem;
 }
 .vp-center {
   justify-content: left;
 }
} 


/* ======MEDIA QUERIES (MEDIUM DEVICES) ======= */
@media screen and (max-width: 1024px) {
  .container{
      width: var(--container-width-md);
  }
  h1{
      font-size: 2rem;
  }
  h2{
      font-size: 1.6rem;
  }
  .header2__content{
      width: 76%;
  }
  .header__content{
      width: 76%;
  }
}


/* ======MEDIA QUERIES (SMALL DEVICES) ======= */
@media screen and (max-width: 600px) {
 h1{
      font-size: 2.2rem;
      line-height: 1.3;
 }
 section{
      margin-top: 5rem;
 }
 .header2{
      height: fit-content;
      margin-top: 4rem;
  }
 .header2__content{
      width: var(--container-width-lg);
      padding: 3rem 0;
 }
 .header2__content p{
      font-size: 0.85rem;
 }
 .btnYoutube{
  padding: 2rem 1rem;
  border-radius: 0 3rem 0 3rem;
 }
} 

